{% extends 'core/base.html' %}
{% block title %}
404 Error | The page you requested was not found
{% endblock %}

{% block container %}
<br><br><br>
<div class="container mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>500 Internal Server Error - The fault is from our end. Do not panic. Our developers are working on it. Try again a few moments later.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}